/poo-projeto-02/build/
/poo-projeto-02/dist/
/poo-projeto-03/build/
/poo-projeto-03/dist/
/poo-projeto-04/build/
/poo-projeto-04/dist/
/poo-projeto-05/build/
/poo-projeto-05/dist/
/poo-projeto-06/build/
/poo-projeto-06/dist/
/poo-projeto-05/nbproject/private/
/poo-projeto-07/nbproject/private/
/poo-projeto-07/build/
/poo-projeto-08/nbproject/private/
/poo-projeto-08/build/
/poo-projeto-09/nbproject/private/
/poo-projeto-09/build/
/poo-projeto-10/nbproject/private/
/poo-projeto-10/build/
/poo-projeto-11/nbproject/private/
/poo-projeto-11/build/
/poo-projeto-12/nbproject/private/
/poo-projeto-12/build/